cache/*
dist/
node_modules/
server/settings.json
server/ai/vector-store/data

.env
*.log
*.generated.*
*.sqlite*

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# no Zero-Installs which requries committing dependencies
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
