node_modules/
dist/

.env
*.log
*.generated.*
*.sqlite

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# no Zero-Installs which requries committing dependencies
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
