openapi: 3.0.1
info:
  title: Pair Programmer
  description: |
    A plugin that enables ChatGPT to pair program with the user.
    It provides ChatGPT with the ability to edit files richly and execute terminal commands.
    It also enables ChatGPT to create hierarchical plans, execute them, iteratively update them, and track its progress toward completing a goal.
  version: "v1"
servers:
  - url: http://localhost:5004
paths:
  /system/info:
    get:
      summary: Retrieve System Information
      description: >
        Fetches various system details such as the current working directory,
        system architecture, platform, and versions of various tools like Git, Node.js, Prettier, and ESLint.
      operationId: getSystemInfo
      tags:
        - System Operations
  /system/exec:
    post:
      summary: Execute a system command
      description: |
        Executes a system command provided in the request body.
        The command is executed in the current working directory, or in a directory specified in the request body.
        The output of the command, as well as any error message, are returned in the response body.
      operationId: execSystemCommand
      tags:
        - System Operations
      requestBody:
        description: The command to execute and the directory to execute it in
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                command:
                  type: string
                  description: The system command to execute
                  example: "echo 'export default 42' >> answer.js"
                cwd:
                  type: string
                  description: The path of the directory to execute the command in
                  example: "/path/to/directory"
                  required: true
                reason:
                  type: string
                  description: The reason for executing the command
                  example: "Add answer to the universe as default export to answer.js"
                  required: true
  /system/tree:
    get:
      summary: Get the system tree
      description: |
        Retrieves a tree structure of the file system, excluding the "node_modules" directory.
        The tree is generated using the tree command.
        The command is executed in the current working directory or a specified directory.
        Returns the output of the command and any error message.
      operationId: getSystemTree
      tags:
        - System Operations
      requestBody:
        description: The directory to execute the command in
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                cwd:
                  type: string
                  description: The path of the directory to execute the command in
                  example: "/path/to/directory"
  /system/lint:
    post:
      summary: Run Lint on the project
      description: |
        Lints project directory using the pre-existing ESLint configuration.
        Returns the linting results, including any errors or warnings.
      operationId: runLint
      tags:
        - System Operations
