#tools {
  position: relative;
  overflow-y: auto;
  max-height: 100%;
  min-width: 48px;

  --tool-padding-x: 8px;
  --tool-padding-y: 8px;
  --tool-top-row-height: 24px;
  --tool-controls-width: 48px;
}

.tools_header {
  position: sticky;
  display: flex;
  top: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--app-header-height);
  background: #303134;
  z-index: 1;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.tool-list {
  display: flex;
  flex-direction: column;
  gap: var(--tool-padding-y);
  padding: 8px 8px 64px 8px;
  line-height: 1.5;
}
.tool {
  position: relative;
  background: #ffffff08;
  padding: var(--tool-padding-y) var(--tool-padding-x);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: default;
}
.tool:focus-within {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.tool__name {
  font-weight: bold;
  font-family: var(--font-family-mono);
  padding-right: var(--tool-controls-width);
  height: var(--tool-top-row-height);
  line-height: var(--tool-top-row-height);
}
.tool__controls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: var(--tool-padding-y);
  right: var(--tool-padding-x);
  width: var(--tool-controls-width);
  height: var(--tool-top-row-height);
}
.tool__button {
  transition: opacity 0.2s ease-out;
  padding: 0;
  width: var(--tool-controls-width);
  justify-self: flex-end;
  height: var(--tool-top-row-height);
  border-radius: 4px;
  font-size: inherit;
  background: rgb(37, 83, 107);
  opacity: 0;
}
.tool__button:hover {
  background: rgb(46, 102, 133);
}
.tool:hover .tool__button,
.tool:focus-within .tool__button {
  opacity: 1;
}
.tool__loading-icon {
  --fa-animation-duration: 0.2s;
  --fa-fade-opacity: 0.3;
  color: var(--body-color-system-message);
}
.tool__description {
  opacity: 0.7;
}
.tool__args {
  grid-area: args;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}
.tool__arg {
  /*font-family: var(--font-family-mono);*/
}
.tool__arg-field {
  position: relative;
}
.tool__arg-required {
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 12px;
  color: rgba(245, 85, 64, 0.7);
  user-select: none;
  pointer-events: none;
}

.tool__arg-input {
  padding: 4px 21px 4px 8px;
  width: 100%;
  height: 24px;
  font-size: inherit;
  color: #ccc;
  background: #00000022;
  border: none;
}
.tool__arg-input:focus {
  background: #00000044;
  color: #eee;
}

.tool__arg-description {
  transition: opacity 0.2s ease-out;
  transition-delay: 0ms;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  left: 0;
  padding: 8px;
  color: #ddd;
  background: #222;
  backdrop-filter: blur(4px);
  pointer-events: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  opacity: 0;
  z-index: 1;
}
.tool__arg-field:focus-within .tool__arg-description {
  transition-delay: 800ms;
  opacity: 1;
}
