#app {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#header {
  position: fixed;
  display: flex;
  padding: 0 16px;
  width: 100%;
  height: 48px;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  background-color: hsla(193, 10%, 18%, 0.9);
  background-image: radial-gradient(
    ellipse at center center,
    hsla(68, 0%, 0%, 0.2) 0%,
    transparent 60%
  );
  background-repeat: no-repeat;
  background-size: 600px 200px;
  background-position: -250px -100px;
  z-index: 1;
}

#main {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
}

#background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: soft-light;
  opacity: 0.1;
  pointer-events: none;
}
