#app {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 0 16px;
  width: 100%;
  height: var(--app-header-height);
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  background-color: hsla(193, 10%, 18%, 0.9);
  background-image: radial-gradient(
    ellipse at center center,
    hsla(68, 0%, 0%, 0.2) 0%,
    transparent 60%
  );
  background-repeat: no-repeat;
  background-size: 600px 200px;
  background-position: -250px -100px;
  z-index: 1;
}
.header__item {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.header__item--stretch {
  flex: 0 1 auto;
}
#main {
  flex: 1;
  position: relative;
  overflow-y: auto;
  padding-top: var(--app-header-height);
}

#right {
  display: flex;
  gap: 16px;
  flex: 0 0 auto;
  max-width: 300px;
  overflow-y: auto;
}

#left {
  --chat-message-padding: 4px;
  --chat-avatar-column-width: 24px;
  --chat-avatar-content-gap: 4px;

  flex: 0 0 auto;
  width: 25%;
  min-width: 320px;
  max-width: 600px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: pre-wrap;
  font-size: 12px;
  line-height: 1.5;
  font-family: var(--font-family-mono);
}

#background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /*mix-blend-mode: soft-light;*/
  opacity: 0.1;
  pointer-events: none;
}

.toast {
  background: #555;
  color: #fff;
}
