openapi: 3.0.0
info:
  title: Webpage Open API
  version: 1.0.0
paths:
  /browser/open:
    post:
      summary: Go to a url
      description: |
        Navigates to the url in a headless puppeteer browser.
        Only one page can be open at a time.
        Returns the readable text of the page.
      operationId: browserGoTo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: The URL of the webpage to open
                  example: https://example.com
  /browser/dom:
    get:
      summary: Read the browser's DOM
      operationId: getBrowserDOM
  /browser/console:
    get:
      summary: Read console logs
      operationId: getBrowserConsole
    delete:
      summary: Clear console logs
      operationId: clearBrowserConsole
  /browser/read:
    get:
      summary: Read browser page
      description: Get a human readable version of the current browser page
      operationId: readBrowser
  /browser/execute:
    post:
      summary: Execute a Puppeteer command
      description: |
        Executes a specified Puppeteer command in the browser.
        Allows for actions like typing text, clicking buttons, and evaluating JavaScript.
      operationId: browserExecute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                command:
                  type: string
                  description: The Puppeteer command to execute (e.g., 'type', 'click', 'evaluate')
                  example: "click"
                selector:
                  type: string
                  description: The CSS selector to target (relevant for 'type' and 'click')
                  example: "#sendButton"
                value:
                  type: string
                  description: Any value to use (e.g., the text to type or the JavaScript code to evaluate)
                  example: "Hello, world!"
