openapi: 3.0.0
info:
  title: Webpage Open API
  version: 1.0.0
paths:
  /browser/goto:
    post:
      operationId: browserGoTo
      summary: Go to a url
      description: |
        Navigates to the url in a headless puppeteer browser on the user's computer.
        Only one page can be open at a time.
        Returns the readable text of the page.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  required: true
                  type: string
                  format: uri
                  description: The URL of the webpage to open
                  example: https://example.com
  /browser/dom:
    get:
      operationId: browserGetDom
      summary: Read the browser's DOM
  /browser/console:
    get:
      operationId: browserGetConsole
      summary: Read console logs
    delete:
      operationId: browserClearConsole
      summary: Clear console logs
  /browser/read:
    get:
      operationId: browserReadPage
      summary: Read browser page
      description: Get a human readable version of the current browser page
  /browser/evaluate:
    post:
      operationId: browserEvaluate
      summary: Evaluate a string
      description: |
        Evaluates a string in the page's context and returns the result.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: The JavaScript string to evaluate.
                  example: "document.querySelector('#sendButton').click();"
  /browser/click:
    post:
      operationId: browserClick
      summary: Click an element
      description: |
        Clicks an element in the page.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                selector:
                  type: string
                  description: The CSS selector to target
                  example: "#sendButton"
  /browser/type:
    post:
      operationId: browserType
      summary: Type text
      description: |
        Types text into an element in the page.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                selector:
                  type: string
                  description: The CSS selector to target
                  example: "#sendButton"
                value:
                  type: string
                  description: The text to type
                  example: "Hello, world!"
