#chat {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /*border: 2px solid magenta;*/
  height: 100%;
  --avatar-column-width: 48px;
  --avatar-content-gap: 16px;
  --input-height: 48px;
  --input-margin: 32px;
}

/*
 * Chat messages
 */

.chat-messages {
  position: relative;
  flex-grow: 1;
  padding-bottom: calc(var(--input-margin) * 2 + var(--input-height));
  height: auto;
  overflow-y: auto;
  font-size: 16px;
  background: #ffffff08;
  /* border: 2px solid cyan; */
  border-bottom: 1px solid hsla(40, 40%, 50%, 0.1);
}

.chat-message {
  padding: 16px;
}
.chat-message__container {
  position: relative;
  display: flex;
  gap: var(--avatar-content-gap);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.chat-message__avatar {
  font-size: 20px;
  padding-top: 4px;
  line-height: 1;
  flex: 0 0 var(--avatar-column-width);
  text-align: center;
}
.chat-message__content {
  overflow-x: auto;
}
.chat-message__content img {
  display: block;
  max-width: 60vw;
  max-height: 25vh;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.chat-message--user {
  background: #00000022;
  border-top: 1px solid hsla(99, 14%, 9%, 0.3);
  border-bottom: 1px solid hsla(99, 14%, 9%, 0.3);
  color: var(--body-color-user);
}
.chat-message--assistant {
  color: var(--body-color-assistant);
}
.chat-message--function {
  color: var(--body-color-system-message);
}
.chat-message--system {
  color: hsla(192, 80%, 80%, 0.8);
}

.chat-message--function .chat-message__content,
.chat-message--system .chat-message__content {
  padding: 8px 16px;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: var(--font-family-mono);
  font-size: 12px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  background: #ffffff08;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid hsla(40, 40%, 10%, 0.3);
  border-radius: 8px;
  /*mix-blend-mode: soft-light;*/
}

.chat-message ~ .chat-message--function {
  /* make functions look related to the last message (sender) */
  padding-top: 0;
}

/*
 * Chat Divider
 */
.chat-message:not(:last-child):not(:hover) .chat-message-details {
  display: none;
}
.chat-message-details {
  position: absolute;
  display: flex;
  text-align: center;
  gap: 8px;
  top: 100%;
  right: 0;
  line-height: 1;
  font-size: 12px;
  color: #ddd;
  opacity: 0.3;
}
.chat-message-details .chat-message-details__item {
  display: flex;
  gap: 2px;
}

/*
 * Chat Footer
 */

.chat-form {
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  position: absolute;
  width: calc(100% - var(--input-margin) * 2);
  max-width: 800px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto var(--input-margin) auto;
  border-radius: 4px;
  z-index: 2;
  /*border: 2px solid yellow;*/
}
.chat-form-glass {
  position: absolute;
  width: calc(100% - var(--input-margin) * 2);
  max-width: 800px;
  height: var(--input-height);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto var(--input-margin) auto;
  background-image: linear-gradient(
    90deg,
    #2a3333,
    #2c3135,
    #343037,
    #382c36,
    #332934
  );
  backdrop-filter: blur(8px);
  border-radius: 4px;
  box-shadow:
    0 0 0 4px hsl(240, 2%, 17%),
    0 0 32px 4px #31313388,
    0 0 16px 2px #313133;

  mix-blend-mode: color;
  filter: contrast(1.05) saturate(0.5) brightness(1.2);
  z-index: 1;
}

.chat-form:focus-within {
  box-shadow:
    0 0 0 4px hsl(280, 4%, 13%),
    -16px 16px 48px hsla(314, 27%, 39%, 0.25);
}
.chat-form input {
  flex: 1;
  padding: 24px;
  height: 48px;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  /*border: 2px solid red;*/
}
.chat-form button {
  transition: transform 0.2s ease-in-out;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 48px;
  height: 48px;
  right: 0;
  border: none;
  background-color: transparent;
  z-index: 1;
}

/*
 * Suggested messages
 */

.suggested-messages {
  display: flex;
  max-width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  z-index: 1;
  bottom: 100px;
  display: none;
}

.suggested-message {
  max-width: 400px;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Fade
 */
#chat-messages-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /*OPTION 1: fade full width */
  height: calc(var(--input-margin) + var(--input-height) + var(--input-margin));
  background-image: linear-gradient(
    0deg,
    #313133 var(--input-margin),
    #313133ee calc(var(--input-margin) + 1px),
    #313133aa calc(var(--input-margin) + var(--input-height)),
    #31313366 calc(var(--input-margin) + var(--input-height) + 4px),
    #31313300 100% /*#313233dd,*/ /*#313233aa 100%*/
  );
  /* OPTION 1 END */
  /* OPTION 2: only fade under the input*/
  bottom: var(--input-margin);
  width: calc(100% - var(--input-margin) * 2);
  max-width: 800px;
  height: var(--input-height);
  margin: 0 auto;
  background-image: linear-gradient(
    0deg,
    #313133ee,
    #313133aa 100% /*#313233dd,*/ /*#313233aa 100%*/
  );
  /* OPTION 2 END */
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 1;
  /*border: 1px solid hsla(40, 40%, 50%, 1);*/
}
