#chat {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /*border: 2px solid magenta;*/
  height: 100%;
}

/*
 * Chat messages
 */

.chat-messages {
  position: relative;
  flex-grow: 1;
  padding-bottom: calc(var(--chat-input-margin) * 2 + var(--chat-input-height));
  height: auto;
  overflow-y: auto;
  font-size: 16px;
  background: #ffffff08;
  /* border: 2px solid cyan; */
  border-bottom: 1px solid hsla(40, 40%, 50%, 0.1);
}

.chat-message {
  padding: var(--chat-message-padding);
}
.chat-message__container {
  position: relative;
  display: flex;
  gap: var(--chat-avatar-content-gap);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.chat-message__avatar {
  font-size: var(--chat-avatar-size);
  padding-top: 0.5%; /* center w/first line of text in chat & debug left pane. */
  line-height: 1;
  flex: 0 0 var(--chat-avatar-column-width);
  text-align: center;
}
.chat-message__content {
  overflow-x: auto;
}
.chat-message__content img {
  display: block;
  max-width: 60vw;
  max-height: 25vh;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.chat-message__content :first-child {
  margin-top: 0;
}
.chat-message__content :last-child {
  margin-bottom: 0;
}

.chat-message--user {
  background: #00000022;
  border-top: 1px solid hsla(99, 14%, 9%, 0.3);
  border-bottom: 1px solid hsla(99, 14%, 9%, 0.3);
  color: var(--body-color-user);
}
.chat-message--assistant {
  color: var(--body-color-assistant);
}
.chat-message--function {
  color: var(--body-color-system-message);
}
.chat-message--system {
  color: hsla(192, 80%, 80%, 0.8);
}

/* respect newlines in all chat messages */
.chat-message--user .chat-message__content {
  white-space: pre-wrap;
}

.chat-message--function .chat-message__content,
.chat-message--system .chat-message__content {
  padding: 8px 16px;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: var(--font-family-mono);
  font-size: 12px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  background: #ffffff08;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid hsla(40, 40%, 10%, 0.3);
  border-radius: 8px;
  /*mix-blend-mode: soft-light;*/
}

/*
 * Chat Footer
 */

.chat-form {
  display: flex;
  position: absolute;
  width: calc(100% - var(--chat-input-margin) * 2);
  max-width: 800px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto var(--chat-input-margin) auto;
  color: #aaa;
  background: #333333cc;
  backdrop-filter: blur(8px);
  box-shadow:
    /* border */
    0 0 0 4px hsl(240, 2%, 17%),
    0 0 32px 8px #313133,
    0 0 16px 2px #313133;
  /*mix-blend-mode: exclusion;*/
  border-radius: 2px;
  z-index: 2;
  /*border: 2px solid yellow;*/
}
.chat-form:focus-within {
  color: #ddd;
  box-shadow:
    0 0 0 4px hsl(280, 4%, 13%),
    -16px 16px 48px hsla(314, 27%, 39%, 0.25);
}
.chat-form__input {
  flex: 1;
  padding: 16px;
  height: 24px;
  color: inherit;
  background-color: transparent;
  border: none;
  resize: none;
  overflow: hidden;
  /*border: 2px solid red;*/
}
.chat-form__input:focus {
  outline: none;
  box-shadow: none;
}
.chat-form__submit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 48px;
  height: 48px;
  right: 0;
  bottom: 0;
  color: inherit;
  border: none;
  background-color: transparent;
  z-index: 1;
}

/*
 * Suggested messages
 */

.suggested-messages {
  display: flex;
  max-width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  z-index: 1;
  bottom: 100px;
  display: none;
}

.suggested-message {
  max-width: 400px;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
