#chat {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /*border: 2px solid magenta;*/
  height: 100%;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 64px 0 256px;
  overflow-y: auto;
  /*border: 2px solid cyan;*/
}

.chat-message {
  padding: 4px;
  max-width: 80%;
  margin-top: 16px;
}

.chat-message--user {
  padding-right: 16px;
  align-self: flex-end;
  background: linear-gradient(
    202.5deg,
    rgba(84, 49, 57, 0.15) 0%,
    transparent 100%
  );
}
.chat-message--user + .chat-message--user {
  margin-top: 0px;
}

.chat-message--assistant {
  padding-left: 16px;
  align-self: flex-start;
  background: linear-gradient(
    112.5deg,
    rgba(49, 64, 84, 0.5) 0%,
    transparent 100%
  );
}

.chat-form {
  transition: box-shadow 0.1s ease-in-out;
  position: absolute;
  display: flex;
  width: 80%;
  max-width: 800px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 32px auto;
  background: linear-gradient(
    90deg,
    #2a3333,
    #2c3135,
    #343037,
    #382c36,
    #332934
  );
  border-radius: 4px;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  z-index: 1;
  /*border: 2px solid yellow;*/
}
.chat-form:focus-within {
  box-shadow:
    0 0 0 4px rgba(0, 0, 0, 0.3),
    -16px 16px 48px rgba(196, 54, 162, 0.05);
}
.chat-form input {
  flex: 1;
  padding: 24px;
  height: 48px;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  /*border: 2px solid red;*/
}
.chat-form button {
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  font-size: 24px;
}
.chat-form button:hover,
.chat-form button:focus,
.chat-form button:active {
  transform: scale(1.25);
  text-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
}
