#chat {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /*border: 2px solid magenta;*/
  height: 100%;
}

.chat-messages {
  flex-grow: 1;
  padding: 64px 0 32px;
  margin-bottom: 160px;
  overflow-y: auto;
  background: #ffffff08;
  /* border: 2px solid cyan; */
  border-bottom: 1px solid hsla(40, 40%, 50%, 0.1);
}

.chat-message {
  padding: 16px;
}
.chat-message__container {
  position: relative;
  display: flex;
  gap: 16px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.chat-message__avatar {
  font-size: 21px;
  padding-top: 4px;
  line-height: 1;
  flex: 0 0 48px;
  text-align: center;
}
.chat-message img {
  display: block;
  max-width: 60vw;
  max-height: 25vh;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.chat-message--user {
  background: #00000022;
  border-top: 1px solid hsla(99, 14%, 9%, 0.3);
  border-bottom: 1px solid hsla(99, 14%, 9%, 0.3);
  color: var(--body-color-user);
}

.chat-message--assistant {
  color: var(--body-color-assistant);
}

.chat-message ~ .chat-message--function,
.chat-message ~ .chat-message--system {
  padding-top: 0; /* look related to the last sent message*/
}
.chat-message--system {
  color: hsla(192, 80%, 80%, 0.8);
}
.chat-message--function {
  color: hsla(41, 80%, 80%, 0.8);
}
.chat-message--function .chat-message__content,
.chat-message--system .chat-message__content {
  padding: 8px 16px;
  overflow: auto;
  max-height: 20vh;
  font-family: var(--font-family-mono);
  font-size: 12px;
  white-space: pre-wrap;
  background: #ffffff08;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid hsla(40, 40%, 10%, 0.5);
  border-radius: 8px;
  /*mix-blend-mode: soft-light;*/
}

.chat-form {
  transition: box-shadow 0.1s ease-in-out;
  position: absolute;
  display: flex;
  width: 80%;
  max-width: 800px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 32px auto;
  background: linear-gradient(
    90deg,
    #2a3333,
    #2c3135,
    #343037,
    #382c36,
    #332934
  );
  border-radius: 4px;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  z-index: 1;
  /*border: 2px solid yellow;*/
}
.chat-form:focus-within {
  box-shadow:
    0 0 0 4px rgba(0, 0, 0, 0.3),
    -16px 16px 48px rgba(196, 54, 162, 0.05);
}
.chat-form input {
  flex: 1;
  padding: 24px;
  height: 48px;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  /*border: 2px solid red;*/
}
.chat-form button {
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  font-size: 24px;
}
.chat-form button:hover,
.chat-form button:focus,
.chat-form button:active {
  transform: scale(1.25);
  text-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
}
