@import url("https://unpkg.com/normalize.css/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Code:400,700");

* {
  box-sizing: border-box;
}

html {
  --body-bg: hsl(0, 0%, 20%);
  --body-color: rgba(242, 240, 236, 0.85);
  --body-color-user: rgba(242, 240, 236, 0.7);
  --body-color-assistant: var(--body-color);
  --font-family-mono: "Fira Code", monospace;
  --font-family-body: "Roboto", sans-serif;

  --app-right-bar-width: 300px;
  --app-header-height: 48px;

  --form-element-height: 2rem;

  --body-color-system-message: hsla(41, 80%, 80%, 0.8);
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family-body);
  font-size: 16px;
  line-height: 1.8;
  background: var(--body-bg);
  color: var(--body-color);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: var(--font-family-mono);
}
code:not(pre code) {
  font-family: var(--font-family-mono);
  padding: 1px 4px;
  font-size: 14px;
  background: hsla(50, 18%, 25%, 0.5);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: hsl(34, 45%, 80%);
}
code.language-mermaid {
  display: block;
  background: #00000022;
  mix-blend-mode: color-burn;
}
pre code[class*="language-"]:not(.language-mermaid) {
  /*mix-blend-mode: screen;*/
  filter: sepia(0.1) hue-rotate(-10deg) brightness(1.05) contrast(1.03)
    saturate(0.9);
  border-bottom: 1px solid #00000044;
  border-top: 1px solid #ffffff14;
}

pre {
  overflow: hidden;
  max-width: 100%;
  font-size: 14px;
  font-family: var(--font-family-mono);
  border-radius: 4px;
}

/* make form elements match in height */
/* Base styles for all form elements */
input,
select,
button {
  display: flex;
  height: var(--form-element-height);
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #ffffff11;
  border-radius: 4px;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 0 16px;
  color: var(--body-color);
  background: rgba(0, 149, 194, 0.6);
  border: none;
  cursor: pointer;
}
button:hover {
  background: rgba(0, 149, 194, 0.8);
}
button:focus {
  box-shadow:
    inset 0 0 0 1px #ccc,
    0 0 0 1px #111;
}

/* buttons */
.button--icon {
  padding: 0.5rem;
  width: var(--form-element-height);
  line-height: 1;
  background: rgba(0, 149, 194, 0.6);
}
.button--transparent {
  background: transparent;
  color: var(--body-color);
}

input:focus,
select:focus,
button:focus {
  outline: none;
}
button[disabled] {
  opacity: 0.2;
  cursor: default;
}

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  max-width: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  margin: 16px 0 8px;
}
thead {
  background-color: rgba(255, 255, 255, 0.1);
}
th,
td {
  padding: 0.25rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* blockquote */
blockquote {
  margin: 16px 32px;
  padding: 0.25rem 1rem;
  border-left: 4px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.05);
}

/* link color */
a {
  color: #5ca1e6;
  text-decoration: none;
  border-bottom: 1px solid #3399ff88;
}
a:hover {
  border-bottom: 1px solid #3399ff;
}
a:visited {
  color: #7266cc;
  border: none;
}
a:visited:hover {
  color: #7266cc;
  border: none;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

/* placeholder */
::-webkit-input-placeholder {
  color: rgba(192, 192, 192, 0.7);
  /*mix-blend-mode: difference;*/
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9); */
}
