@import url("https://unpkg.com/normalize.css/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Code:400,700");

* {
  box-sizing: border-box;
}

html {
  --body-bg: hsl(0, 0%, 20%);
  --body-color: rgba(242, 240, 236, 0.85);
  --body-color-user: rgba(242, 240, 236, 0.7);
  --body-color-assistant: var(--body-color);
  --font-family-mono: "Fira Code", monospace;
  --font-family-body: "Roboto", sans-serif;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family-body);
  font-size: 16px;
  background: var(--body-bg);
  color: var(--body-color);
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: var(--font-family-mono);
}
code.language-mermaid {
  display: block;
  background: white;
}
code:not(pre code) {
  font-family: var(--font-family-mono);
  padding: 1px 4px;
  font-size: 14px;
  background: hsla(50, 18%, 22%, 0.33);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: hsl(34, 40%, 75%);
}

pre {
  overflow: hidden;
  width: fit-content;
  max-width: 100%;
  max-height: 60vh;
  font-size: 14px;
  font-family: var(--font-family-mono);
  /*mix-blend-mode: screen;*/
  filter: contrast(1.05) brightness(1.1);
  border-bottom: 1px solid #00000044;
  border-top: 1px solid #ffffff08;
  border-radius: 4px;
}
pre code {
  overflow: auto;
  max-width: inherit;
  max-height: inherit;
  border-radius: inherit;
}

/* make form elements match in height */
/* Base styles for all form elements */
input,
select,
button {
  height: 2rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #ffffff11;
  border-radius: 4px;
}

button {
  padding: 0.5rem 1rem;
  color: var(--body-color);
  background: rgba(194, 0, 32, 0.6);
  line-height: 1;
  border: none;
  cursor: pointer;
}
button:hover {
  background: rgba(194, 0, 32, 0.8);
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  max-width: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  margin: 16px 0 8px;
}
thead {
  background-color: rgba(255, 255, 255, 0.1);
}
th,
td {
  padding: 0.25rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* blockquote */
blockquote {
  margin: 16px 32px;
  padding: 0.25rem 1rem;
  border-left: 4px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.05);
}

/* link color */
a {
  color: #5ca1e6;
  text-decoration: none;
  border-bottom: 1px solid #3399ff88;
}
a:hover {
  border-bottom: 1px solid #3399ff;
}
a:visited {
  color: #7266cc;
  border: none;
}
a:visited:hover {
  color: #7266cc;
  border: none;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
