@import url("https://unpkg.com/normalize.css/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400");

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  box-sizing: border-box;
}

html {
  --body-bg: hsl(270, 13%, 13%);
  --body-color: #fff;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", monospace;
  font-size: 16px;
  line-height: 1.5;
  background: var(--body-bg);
  color: var(--body-color);
  overflow: hidden;
}
#root {
  position: relative;
  z-index: 1;
  margin: 0.5rem;
  padding: 1rem;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
}
#light {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 100s ease infinite;
  filter: saturate(0.5);
  opacity: 0.05;
}

pre {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  mix-blend-mode: difference;
  border: 1px solid #ffffff11;
  border-radius: 0.25rem;
  padding: 1rem;
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  padding: 0;
}

/* make form elements match in height */
/* Base styles for all form elements */
input,
select,
button {
  height: 2rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #ffffff11;
  border-radius: 4px;
}
