@import url("https://unpkg.com/normalize.css/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400");

* {
  box-sizing: border-box;
}

html {
  --body-bg: hsl(0, 0%, 20%);
  --body-color: #eeeeeecc;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", monospace;
  font-size: 16px;
  line-height: 1.5;
  background: var(--body-bg);
  color: var(--body-color);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

pre {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid #ffffff11;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
}

/* make form elements match in height */
/* Base styles for all form elements */
input,
select,
button {
  height: 2rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #ffffff11;
  border-radius: 4px;
}

button {
  cursor: pointer;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  max-width: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  margin: 16px 0 8px;
}
thead {
  background-color: rgba(255, 255, 255, 0.1);
}
th,
td {
  padding: 0.25rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* blockquote */
blockquote {
  margin: 16px 32px;
  padding: 0.25rem 1rem;
  border-left: 4px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.05);
}

/* link color */
a {
  color: #3399ff;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 #3399ff88;
}
a:hover {
  text-decoration: none;
  box-shadow:
    inset 0 -1px 0 0 #3399ff,
    0 1px 0 0 #3399ff;
}
a:visited {
  color: #1a4bff;
  text-decoration: none;
  box-shadow: none;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
