.logo__image {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

.logo__text {
  color: #eee;
  font-weight: bold;
  font-size: 14px;
}

@media (max-width: 900px) {
  .logo__text {
    display: none;
  }
}
