openapi: 3.1.0
info:
  title: Project Tool
  version: "v1"
paths:
  /project/file/read:
    post:
      operationId: fileRead
      summary: Read a project file
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - path
              properties:
                path:
                  type: string
                  description: Relative path to the file from the root of the project.
  /project/file/write:
    post:
      operationId: fileWrite
      summary: Write a project file
      description: |
        Write a file to the project. If the file already exists, it will be overwritten.
        If the file does not exist, it will be created along with any required directories.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - path
                - contents
              properties:
                path:
                  type: string
                  description: Relative path to the file from the root of the project.
                contents:
                  type: string
                  description: The contents of the file.
  /project/file/delete:
    delete:
      operationId: fileDelete
      summary: Delete a project file
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - path
              properties:
                path:
                  type: string
                  description: Relative path to the file from the root of the project.
  /project/file/edit:
    post:
      operationId: fileEdit
      summary: Edit a file
      description: Edit the contents of a file using an array of edits. An edit specifies a start, end, and content.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - path
                - edits
              properties:
                path:
                  type: string
                  description: Relative path to the file from the root of the project.
                edits:
                  type: array
                  description: An array of edits to apply to the file.
                  items:
                    type: object
                    required:
                      - start
                      - end
                      - content
                    properties:
                      start:
                        type: string
                        description: A string to match the start of the content to be replaced.
                      end:
                        type: string
                        description: A string to match the end of the content to be replaced.
                      content:
                        type: string
                        description: The content to replace the edit with.
  /project/file/find:
    post:
      operationId: fileFind
      summary: Find a file
      description: Query matches any part of the file name (fuzzy subsequence, case insensitive). Returns all matching results.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: The search query.
  /project/exec:
    post:
      operationId: projectExec
      summary: Execute a command
      description: |
        Executes a background command in the project directory on the user's computer.
        Do not execute commands that require user input, the user cannot see the shell.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - command
              properties:
                command:
                  type: string
                  description: The shell command to execute
                cwd:
                  type: string
                  description: The path of the directory to execute the command in
  /project/info:
    get:
      operationId: getProjectInfo
      summary: Get Project Info
      description: |
        Retrieves information about the current project.
  /project/todos:
    get:
      operationId: getProjectTodos
      summary: Get project TODOs
      description: |
        Retrieves a tree a list of todos including the file and line number where they were found.
  /project/tree:
    get:
      operationId: getProjectTree
      summary: Get the project tree
      description: |
        Retrieves a tree view of the current project.
