openapi: 3.1.0
info:
  title: Project Tool
  version: "v1"
paths:
  /project/exec:
    post:
      operationId: runShellCommand
      summary: Run a shell command
      description: |
        Executes a background command in the project directory on the user's computer.
        Do not execute commands that require user input, the user cannot see the shell.
      requestBody:
        description: The command to execute and the directory to execute it in.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                command:
                  type: string
                  description: The shell command to execute
                  example: "echo 'export default 42' >> answer.js"
                cwd:
                  type: string
                  description: The path of the directory to execute the command in
                  example: "/path/to/directory"
                  required: true
  /project/info:
    get:
      operationId: getProjectInfo
      summary: Get Project Info
      description: |
        Retrieves information about the current project.
  /project/todos:
    get:
      operationId: getProjectTodos
      summary: Get project TODOs
      description: |
        Retrieves a tree a list of todos including the file and line number where they were found.
  /project/tree:
    get:
      operationId: getProjectTree
      summary: Get the project tree
      description: |
        Retrieves a tree view of the current project.
