.error-banner {
  transition: all 0.5s ease-in-out 0s;
  position: fixed;
  padding: 1rem 2rem;
  margin: 0 auto;
  top: -100px;
  left: 0;
  right: 0;
  width: calc(100% - 4rem);
  min-width: 400px;
  max-width: 800px;
  text-align: center;
  color: white;
  background-color: rgb(221, 136, 136);
  border-radius: 8px;
  opacity: 1;
}

.error-banner.error-banner--show {
  top: 64px;
  opacity: 1;
}
